{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center">My Orders</h1>
{% for order in orders %}
<div style="margin: 40px" class="alert alert-warning" role="alert">
    <p style="text-align: center"><b>Customer Name: </b> {{order.username}}</p>
    <p style="text-align: center"><b>Customer Phone No: </b> {{order.phoneno}}</p>
    <p style="text-align: center"><b>Customer Address: </b> {{order.address}}</p>
    <p style="text-align: center">{{order.ordereditems}}</p>
    <p style="text-align: center"><b>Order Status: </b> {{order.status}}</p>
    <div class="container" style="width: 200px;display: block; margin: auto">
        <a href="/acceptorder/{{order.id}}/" style="display: inline" class="btn btn-success">Accept</a>
        <a href="/declineorder/{{order.id}}/" style="display: inline" class="btn btn-danger">Decline</a>

    </div>



</div>
{% endfor %}
{% endblock %}