{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Welcome {{username}}</a>
  <a class="nav-item" style="text-decoration: none; color: black" href="/userorders/" >My Orders</a>
  <!--<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
-->
    <a href="/userlogout/" class="btn btn-danger">Logout</a>
</nav>
{% for message in messages %}
<p style="color: green;font-weight: bold; text-align:center">{{message}}</p>
{% endfor %}

<form method="post" action="/placeorder/">
    {% csrf_token %}
<div class="container" style="margin: auto; width: 600px">
    <table style="width: 100%">
    <tr>
        <th>Pizza</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    {% for pizza in pizzas %}
    <tr>
        <td>{{pizza.name}}</td>
        <td>{{pizza.price}}</td>
        <td><input type="number" value="0" min="0" name="{{pizza.id}}" style="width:60px"></td>
    </tr>
    {% endfor %}
    </table>
<input type="text" placeholder="Address" style="width: 400px; margin-top:110px" name="address">
<input type="submit" style="float: right; margin-top: 100px" class="btn btn-outline-success" value="place order" name="">
</div>
</form>
{% endblock %}