{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 style="text-align:center;color:orange">WELCOME TO KETHA's PIZZA HUT</h1>
    <a class="btn btn-danger" style="position: relative; left: 1200px; bottom: 50px " href="/loginuser/">Login</a>


<!--<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" style="">Welcome to KETHA's Pizza Hut</a>
  <!--<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>


    <a class="btn btn-danger" href="/loginuser/">Login</a>
</nav>
-->

<div class="container-fluid" style="bottom: 20px;position: relative; height: 560px; background-size: cover; background-image: url({%static "img/pizzahomepage1.jpg"%});">
    <div style="position: absolute;top: 50px; right: 20px; width: 500px; height: 350px; background-color: orange; padding: 40px" ;class="container">
        <h1 style="text-align: center;color:white">Sign Up !</h1>
        <form method="post" action="/signupuser/">
            {% csrf_token %}
            <input class="form-control" placeholder="Username" type="text" name="username" style="margin-bottom: 10px">
            <input class="form-control" placeholder="Password" type="password" name="password" style="margin-bottom: 10px">
            <input class="form-control" placeholder="PhoneNo" type="text" name="phoneno" style="margin-bottom: 10px">
            <input style="display: block; margin: auto; margin-top: 20px" class="btn btn-success" type="submit" name="">
            {% for message in messages %}
                <p style="text-align: center; color: white">{{message}}</p>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}